<div class="row">
	<div class="col-xs-12">
		<div class="box box-warning">
			<div class="box-header with-border text-right">
				<button type="button" class="btn btn-primary btn-flat btn-create"><i class="fa fa-save"></i>&nbsp;Save</button>
				<button type="button" class="btn btn-warning btn-flat" onclick="window.history.back()"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</button>
			</div>
			<form class="form-horizontal">
				<div class="box-body">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-7">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-3 control-label">Password</label>
						<div class="col-sm-7">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>