<link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css">
<div class="row">
	<div class="col-xs-12">
		<div class="box box-warning">
			<div class="box-header with-border text-right">
				<button type="button" class="btn btn-primary btn-flat btn-create"><i class="fa fa-plus"></i>&nbsp;Create New</button>
				<button type="button" class="btn btn-warning btn-flat" onclick="window.history.back()"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</button>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-striped datatable table-model">
				</table>
			</div>
		</div>
	</div>
</div>